# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
curso_gnn/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data and models
*.h5
*.pkl
*.pth

# Logs
*.log
